/*

        Creating a sprite from following images:
        
        app/assets/images/avatars/avatar1.png (50x50)
        app/assets/images/avatars/avatar10.png (50x50)
        app/assets/images/avatars/avatar11.png (50x50)
        app/assets/images/avatars/avatar12.png (50x50)
        app/assets/images/avatars/avatar13.png (50x50)
        app/assets/images/avatars/avatar14.png (50x50)
        app/assets/images/avatars/avatar15.png (50x50)
        app/assets/images/avatars/avatar16.png (50x50)
        app/assets/images/avatars/avatar17.png (50x50)
        app/assets/images/avatars/avatar18.png (50x50)
        app/assets/images/avatars/avatar19.png (50x50)
        app/assets/images/avatars/avatar2.png (50x50)
        app/assets/images/avatars/avatar20.png (50x50)
        app/assets/images/avatars/avatar3.png (50x50)
        app/assets/images/avatars/avatar4.png (50x50)
        app/assets/images/avatars/avatar5.png (50x50)
        app/assets/images/avatars/avatar6.png (50x50)
        app/assets/images/avatars/avatar7.png (50x50)
        app/assets/images/avatars/avatar8.png (50x50)
        app/assets/images/avatars/avatar9.png (50x50)

        Output files:
          app/assets/images/avatars.png
          app/assets/images/avatars.css

        Output size:
          250x200


*/
img.avatar1 { width: 50px; height: 50px; background: url(/assets/avatars.png) 0px 0px no-repeat; }
img.avatar10 { width: 50px; height: 50px; background: url(/assets/avatars.png) -50px 0px no-repeat; }
img.avatar11 { width: 50px; height: 50px; background: url(/assets/avatars.png) 0px -50px no-repeat; }
img.avatar12 { width: 50px; height: 50px; background: url(/assets/avatars.png) -50px -50px no-repeat; }
img.avatar13 { width: 50px; height: 50px; background: url(/assets/avatars.png) -100px 0px no-repeat; }
img.avatar14 { width: 50px; height: 50px; background: url(/assets/avatars.png) -100px -50px no-repeat; }
img.avatar15 { width: 50px; height: 50px; background: url(/assets/avatars.png) 0px -100px no-repeat; }
img.avatar16 { width: 50px; height: 50px; background: url(/assets/avatars.png) -50px -100px no-repeat; }
img.avatar17 { width: 50px; height: 50px; background: url(/assets/avatars.png) -100px -100px no-repeat; }
img.avatar18 { width: 50px; height: 50px; background: url(/assets/avatars.png) -150px 0px no-repeat; }
img.avatar19 { width: 50px; height: 50px; background: url(/assets/avatars.png) -150px -50px no-repeat; }
img.avatar2 { width: 50px; height: 50px; background: url(/assets/avatars.png) -150px -100px no-repeat; }
img.avatar20 { width: 50px; height: 50px; background: url(/assets/avatars.png) 0px -150px no-repeat; }
img.avatar3 { width: 50px; height: 50px; background: url(/assets/avatars.png) -50px -150px no-repeat; }
img.avatar4 { width: 50px; height: 50px; background: url(/assets/avatars.png) -100px -150px no-repeat; }
img.avatar5 { width: 50px; height: 50px; background: url(/assets/avatars.png) -150px -150px no-repeat; }
img.avatar6 { width: 50px; height: 50px; background: url(/assets/avatars.png) -200px 0px no-repeat; }
img.avatar7 { width: 50px; height: 50px; background: url(/assets/avatars.png) -200px -50px no-repeat; }
img.avatar8 { width: 50px; height: 50px; background: url(/assets/avatars.png) -200px -100px no-repeat; }
img.avatar9 { width: 50px; height: 50px; background: url(/assets/avatars.png) -200px -150px no-repeat; }
